/* вертикальная полоса прокрутки */
.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 4px;   /* можно прижать к правому или левому краю */
	width: 7px;   /* ширина полосы прокрутки */
	height: 100%;
	background: rgba(0, 0 , 0, 0);
}

/* полоска, по которой бегает ползунок */
.jspTrack
{
    background: rgba(0, 0 , 0, 0);
	position: relative;
}

/* сам ползунок */
.jspDrag
{
	background: #aaa;
	opacity: .5;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
    border-radius: 7px;
}

.jspPane
{
    width: 100% !important;
	min-width: 100px !important;
}

.jspContainer
{
	height: 100%;
	min-width: 100px !important;
}
