html,
body
{
     font-family: "Segoe UI", sans-serif;
     font-size: 14px;
     color: #404040;
     line-height: 20px;
}

.test
{
    width: 322px;
    display: inline-block;
}

.form-group > label,
.form-group
{
    vertical-align: baseline;
}
