html,
body
{
     font-family: "Segoe UI", sans-serif;
     font-size: 14px;
     color: #404040;
     line-height: 20px;
}

.form__input
{
    /*width: 322px;*/
    margin: 0 10px 20px 10px;
    display: inline-block;
}

.form-group > label,
.form-group
{
    vertical-align: baseline;
}
