<div class="autocomlete__container" ng-focus="focusInput();" tabindex="tabindex">
    <div class="input__group" next-focus="isNextFocus">
        <input type="text" class="kontur__input" placeholder="{{placeholder}}"
            ng-model="search"
            ng-keydown="onKeydown($event)"
            ng-disabled="disabled"
            focus-on="isInputFocused"
            select-by-focus
            ng-class="{'kontur__input_error': !isValidValue}"
            ng-blur="closeList()"
        >
        <span ng-if="!isValidValue" class="message_error">{{validationMessages.error}}</span>
    </div>
    <div class="dropdown__container"  ng-if="isOpenList">
        <ul class="container__list">
            <li ng-show="focusedData.filteredList.length === 0"
                class="container__list__item container__list_empty">
                Не найдено
            </li>
            <li ng-repeat="item in focusedData.filteredList | limitTo:itemLimit track by $index"
                class="container__list__item"
                ng-class="{'container__list__item_selected': selectedItem === item &&
                focusedData.index !== $index,
                'container__list__item_focused' : focusedData.index === $index}">
                {{item}}
            </li>
        </ul>
        <p ng-show="focusedData.filteredList.length !== 0" class="dropdown__container__count-tip">
            Показано {{visibleItemCount}} из {{focusedData.filteredList.length}} найденных значений.
            Уточните запрос, чтобы увидеть остальные
        </p>
    </div>
</div>
