<div class="autocomlete__container" ng-focus="focusInput();" tabindex="1">
    <div class="input__group" next-focus="isNextFocus">
        <input type="text" class="kontur__input" placeholder="{{placeholder}}"
            ng-model="search"
            ng-keydown="onKeydown($event)"
            ng-disabled="disabled"
        >
        <!-- ng-focus="openList();"
        select-by-focus
        ng-blur="closeList()"
        focus-on="isInputFocused"
        ng-class="{'kontur__input_error': !isValidValue}" -->
        <span ng-if="!isValidValue" class="message_error">{{validationMessages.error}}</span>
    </div>
    <div class="dropdown__container"  ng-if="isOpenList">
        <ul class="container__list">
            <li ng-show="focusedData.filteredList.length === 0" class="container__list__item list_empty">Не найдено</li>
            <li ng-repeat="item in focusedData.filteredList | limitTo:itemLimit track by $index"
                class="container__list__item"
                ng-class="{'list__item_selected': selectedItem === item && focusedData.index !== $index,
                'list__item_focused' : focusedData.index === $index}">
                {{item}}
            </li>
        </ul>
    </div>
</div>
