html,
body
{
     font-family: "Segoe UI", sans-serif;
     font-size: 14px;
     color: #404040;
     line-height: 20px;
}

.form
{
    &__input
    {
        margin: 0 10px 20px 10px;
        display: inline-block;
    }
    &-group > label,
    &-group
    {
        vertical-align: baseline;
    }
}
