


<form class="form-inline">
    <div class="form-group">
        <label for="street1">Улица</label>
        <arrow-autocomplete class="form__input" id="street1" placeholder="Выберите значение из списка"
            error-message="Выберите значение из списка" list="cityList">
        </arrow-autocomplete>
    </div>
    <div class="form-group">
        <label for="street2">Улица</label>
        <arrow-autocomplete class="form__input" id="street2" disabled
            placeholder="Выберите значение из списка"
            error-message="Выберите значение из списка" list="cityList">
        </arrow-autocomplete>
    </div>
    <div class="form-group">
        <label for="street3">Улица</label>
        <autocomplete class="form__input" list="cityList"
            placeholder="Начните вводить код или название" error-message="Выберите значение из списка">
        </autocomplete>
    </div>
</form>

<input type="text" name="asd" value="">
<input type="text" name="asssd" value="">
