


<form class="form-inline">
    <div class="form-group">
        <label for="email">Email address:</label>
        <arrow-autocomplete class="test" id="email" placeholder="Выберите значение из списка" error-message="Выберите значение из списка" list="cityList"></arrow-autocomplete>
    <!-- <input type="email" class="form-control" id="email"> -->
  </div>
  <!-- <div class="form-group">
    <label for="pwd">Password:</label>
    <arrow-autocomplete disabled placeholder="Выберите значение из списка" error-message="Выберите значение из списка" list="cityList"></arrow-autocomplete>
  </div> -->
</form>
